<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1> <%= user.username %> </h1>

                <form action="/users" method="GET">
                    <button class="btn btn-primary" type="submit"> GO BACK TO USERS </button>
                </form>

                <ul>    <!-- ITERATE THROUGH PICTURES AND PRINT TO SCREEN -->
                <% for (let i=0; i< user.pictures.length; i++) { %>

                <li> <img src="<%=user.pictures[i].url%>" style="width:200px;"> </li>

                <form action="/photos/<%=user.pictures[i]._id%>/edit" method="GET">
                    <button class="btn btn-primary" type="submit">Edit Photo</button>
                </form>

                <form action="/photos/<%=user.pictures[i]._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-primary" type="submit">Delete Photo</button>
                </form>

                <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>