<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>HOME</h1>
                <form action="/users" method="GET">
                    <button class="btn btn-primary" type="submit"> USERS </button>
                </form>
                <br>
                <form action="/photos" method="GET">
                    <button class="btn btn-primary" type="submit"> PHOTOS </button>
                </form>
            </div>
        </div> 
    </div>

</body>
</html>