<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1> EDIT USER </h1>
                <form action="/users/<%=user._id%>?_method=PUT" method="POST">

                    Username: <input type="text" name="username" value="<%=user.username%>" autocomplete="off"> <br>
                    Password: <input type="text" name="password" value="<%=user.password%>" autocomplete="off"> <br>
                    
                    <button class="btn btn-primary" type="submit"> UPDATE THIS USER </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>